main {
  position: relative; }
  main nav {
    background-color: rgba(245, 245, 245, 0.95);
    float: left;
    height: 240px;
    position: absolute;
    width: 200px;
    z-index: 999; }
    main nav .showAllNav {
      background-color: #fff;
      display: inline-block;
      float: left;
      height: 240px;
      position: absolute;
      width: 24px;
      z-index: -1; }
      main nav .showAllNav .showAllArrow {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAbklEQVQ4y2P4//8/Ay0xw6gFg98CbKCjo8MAiA8AcQHVLYAa/gGI/4MsoaoFaIaDaAOqWYBmOAgHgMSpYgEWwxNgFlNsAT7DqWXBBVyGDxkLaBtENI9kPMk0gaoW0Dyj0aWowFLYNYzWB6MWMAAAq1H3+Mhu2hQAAAAASUVORK5CYII=);
        display: block;
        height: 24px;
        position: absolute;
        top: 132px;
        width: 24px; }
    main nav .nav-on-action-bar {
      background-color: #1aa1e1; }
      main nav .nav-on-action-bar .link {
        display: block;
        height: 48px;
        position: relative;
        width: 200px; }
        main nav .nav-on-action-bar .link .icon-container {
          display: inline-block;
          height: 48px;
          width: 65px; }
          main nav .nav-on-action-bar .link .icon-container .icon {
            background-color: #1aa1e1;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA40lEQVQoz+2RTRGDMBhEIyESKgEJSEACEioBB5GABCQgIRKQgITXQzc0QNIwbbl02Jlw+H72JYsBjDHGAB0w64zAADSmIKDW7Bjtd+o9P8AEtMBNg7GmsLAxbtSLNcjjLtACCPK6UaOBWCNgZd5verN2ankE7QBBTjcZEpAuc2uX8MkCQjS1nusTfa9Y60RUhwDxa2zmB7vC7iEAMivWLsAFuAD/DnAnANwC0HADzD8AzECr/gugQgX4LwAeqCK/NUBFC/QfAHrAbrz2gKjZhsgKgCWShEceEEf2BrCKJAs48zwAsmsx4ZbVwpEAAAAASUVORK5CYII=);
            display: inline-block;
            height: 24px;
            margin: 12px 0 0 28px;
            width: 24px; }
        main nav .nav-on-action-bar .link .title {
          color: #fff;
          display: inline-block;
          font-size: 18px;
          left: 70px;
          line-height: 20px;
          position: absolute;
          top: 14px;
          vertical-align: middle;
          width: 127px; }
    main nav .subNav {
      display: block;
      font-size: 18px;
      left: 24px;
      padding: 6px 0;
      position: absolute;
      width: 176px; }
      main nav .subNav .subNav-option {
        display: block;
        height: 36px;
        width: 176px; }
        main nav .subNav .subNav-option .link {
          box-sizing: border-box;
          display: inline-block;
          height: 36px;
          line-height: 20px;
          padding: 8px 12px 8px 23px;
          width: 176px; }
          main nav .subNav .subNav-option .link:hover {
            border: 1px solid blue; }
        main nav .subNav .subNav-option .chosen {
          color: #1aa1e1; }
  main .action-bar {
    background: #fff;
    font-size: 14px;
    height: 48px;
    min-width: 964px;
    position: relative;
    width: 100%; }
    main .action-bar div {
      box-sizing: border-box;
      display: inline-block;
      float: left;
      height: 48px;
      line-height: 48px;
      text-align: middle; }
    main .action-bar .genre-button {
      margin-left: 238px; }
      main .action-bar .genre-button button {
        background-color: #fff;
        padding: 0 14px;
        width: 80px; }
      main .action-bar .genre-button .button-icon {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAjUlEQVQoz2P4//8/A7mYYYhrzs3N5SsqKsoE0jLYFGZmZgoWFhZmAYEEhmagxsri4uL/QPwYaIAyssbs7GxhoPwFkDyQnoOhGWiqLlDyA7oBaBp/AdW5YfVzfn6+ObIBeXl5xsgagXQA3gBDM+AnLo04QxtqwHeoAX+xacQbVUC/RQA1vQQF5HBNYeRgAKO6bfkUgtZHAAAAAElFTkSuQmCC);
        background-position-y: center;
        background-repeat: no-repeat;
        display: inline-block;
        height: 15px;
        margin: 17px 3px 1px 3px;
        vertical-align: top;
        width: 15px; }
    main .action-bar .spacer {
      width: 11px; }
      main .action-bar .spacer .space-liner {
        background-color: #d6d6d6;
        height: 64%;
        margin: 9px 5px 9px 5px;
        width: 1px; }
    main .action-bar .home {
      padding: 0 14px;
      width: 42px; }
    main .action-bar .favor-chart {
      padding: 0 14px;
      width: 87px; }
    main .action-bar .new-book {
      padding: 0 14px;
      width: 56px; }
    main .action-bar .options {
      display: block;
      overflow: hidden;
      position: absolute;
      right: 40px;
      width: 375px; }
      main .action-bar .options .helps {
        display: inline-block;
        margin-left: 238px;
        width: 50px; }
        main .action-bar .options .helps button {
          background-color: #fff;
          border: 1px solid rgba(0, 0, 0, 0.17);
          box-sizing: border-box;
          color: #737373;
          display: inline-block;
          height: 30px;
          line-height: 28px;
          position: absolute;
          top: 10px;
          width: 38px; }
          main .action-bar .options .helps button .icon {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAwUlEQVQ4y9WU6w3DIAyEGcEjZIQOwBAdgdEyikfoAAyRDVwTgZQQPyDKj/akkyIEn2zOIRBReNrh/6GsxEY2dS5raQrKWtgfAda77FlcKOvF3gaAzZsE7qGnCgGAEJGayndZ6ytWofUOTweOwCNYqDhp0EsoTTHG3U1SeBrUvD8HShdoTVwFDrQvQmEEqgQlQ732rbY9KE7M53BQSTuUc95tQNWRgptQc/jfN9q2f1PWOgn0H5Qa1Forhkefvp99+b/H6ZOyGDEoawAAAABJRU5ErkJggg==);
            background-size: contain;
            display: inline-block;
            height: 21px;
            margin: 3px 3px 1px 3px;
            width: 21px; }
          main .action-bar .options .helps button:hover {
            border: 1px solid blue; }
      main .action-bar .options .settings {
        display: inline-block;
        margin: 0 10px;
        width: 55px; }
        main .action-bar .options .settings button {
          background-color: #fff;
          border: 1px solid rgba(0, 0, 0, 0.17);
          box-sizing: border-box;
          color: #737373;
          display: inline-block;
          height: 30px;
          line-height: 28px;
          position: absolute;
          top: 10px;
          width: 55px; }
          main .action-bar .options .settings button .icon {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAA3klEQVQ4y2NgGE4gEYj/I+FEahg6D83QuaQawATEqkDMCOVbA/FdNEPvALEVVJ4Rqp4Jn6HZUI3XgHgNEP9DMxCG/0Hlr0H52bgMFALiN3gMeYLHkjdQ/RigDovi30DcgaRBGIg7gfgPFrV12AzVhYYXssI2HL7qwBLOuriCgA+IPyF5WQCHOl4g/gFV9xGqDy/4BVX8jIC6B1B1PwkZSHWX0iRM6/HEPi+SC3HFfi2udPoWRzr8As1ZX/CkU0FcQZBDYo66DuVn0T3vYwNz0AydTY2iLxXN0NThU1UAAJ7AjlNiNxjgAAAAAElFTkSuQmCC);
            background-size: contain;
            display: inline-block;
            height: 21px;
            margin-top: 4px;
            width: 21px; }
          main .action-bar .options .settings button:hover {
            border: 1px solid blue; }
  main section {
    float: right;
    margin-top: 25px;
    width: 100%; }

#categories {
  margin: 5px 0 15px 0; }
  #categories .category-head {
    box-sizing: border-box;
    margin: 0 50px 0 248px;
    min-height: 37px;
    min-width: 680px;
    font-size: 28px;
    font-weight: 100;
    padding: 5px;
    position: relative;
    width: 70%; }
    #categories .category-head .show-more-button {
      background-color: #1aa1e1;
      border: 1px;
      bottom: 14px;
      box-sizing: border-box;
      color: #fff;
      display: inline-block;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      height: 30px;
      line-height: 30px;
      margin-top: 5px;
      min-width: 40px;
      padding: 0 13px;
      position: absolute;
      right: 5px;
      text-align: middle;
      vertical-align: middle; }
      #categories .category-head .show-more-button:hover {
        border: 1px solid blue; }
    #categories .category-head .subtitle {
      color: #555;
      display: block;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      padding-bottom: 4px; }
  #categories .book-shelf {
    box-sizing: border-box;
    height: 238px;
    margin-left: 248px;
    max-height: 340px;
    min-width: 680px;
    overflow: hidden; }
    #categories .book-shelf .book-wrap {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      height: 100%;
      float: left;
      margin: 5px;
      width: 126px; }
      #categories .book-shelf .book-wrap a {
        display: block;
        height: 193px;
        width: 126px; }
      #categories .book-shelf .book-wrap .book-cover {
        height: 193px;
        width: 126px; }
        #categories .book-shelf .book-wrap .book-cover img {
          height: 193px;
          width: 126px; }
      #categories .book-shelf .book-wrap .book-desc {
        padding-top: 4px;
        height: 46px;
        max-height: 50px;
        display: border-box;
        padding: 0 10px; }
        #categories .book-shelf .book-wrap .book-desc .title {
          height: 17px;
          font-size: 14px;
          line-height: 17px;
          margin-top: 3px;
          color: #333;
          display: block; }
          #categories .book-shelf .book-wrap .book-desc .title:hover {
            text-decoration: underline; }
        #categories .book-shelf .book-wrap .book-desc .sub {
          height: 22px;
          position: relative;
          overflow: hidden; }
          #categories .book-shelf .book-wrap .book-desc .sub .sub-title {
            height: 15px;
            display: block;
            float: left; }
            #categories .book-shelf .book-wrap .book-desc .sub .sub-title:hover {
              text-decoration: underline; }
          #categories .book-shelf .book-wrap .book-desc .sub button {
            position: absolute;
            right: 0px;
            bottom: 4px;
            display: block;
            float: right;
            background-color: #fff;
            color: #1aa1e1; }
            #categories .book-shelf .book-wrap .book-desc .sub button:hover {
              text-decoration: underline; }
